<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirkowu.baselibrarysample">

    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--声明后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:configChanges="locale|layoutDirection"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/android_p_network_security_config"
        android:sharedUserId="android.uid.system"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${mapId}" />

        <activity android:name=".ui.LanguageActivity"></activity>
        <activity android:name=".ui.bluetooth.BLEManagerActivity" />

        <service android:name=".ble.BLEService" />

        <activity android:name=".ui.bluetooth.BLESearchActivity" /> <!-- android:windowSoftInputMode="adjustPan|stateHidden" -->
        <activity
            android:name=".ui.start.SplashActivity"
            android:theme="@style/SplashTheme">

            <!-- 华为等部分机型 刘海屏处理 -->
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.start.GuideActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="locale|layoutDirection|keyboard|orientation|screenSize" />
        <activity
            android:name=".ui.TestToolbarActivity"
            android:configChanges="locale|layoutDirection" />
        <activity android:name=".ui.testMvp.TestMvpActivity" />
        <activity android:name=".ui.testRefresh.TestRefreshActivity" />
        <activity android:name=".ui.SocketTestActivity" /> <!-- android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" -->
        <activity android:name=".ui.ScreenAdapterActivity" />
        <activity android:name=".ui.webView.WebViewActivity" />
        <!--        九宫格面板-->
        <activity
            android:name=".ui.main.DashBordActivity"
            android:screenOrientation="landscape">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <!--        运营列表-->
        <activity
            android:name=".ui.main.OperationActivity"
            android:screenOrientation="landscape">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>

        <!--        地图-->
        <activity
            android:name=".ui.main.MapActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>